# Ответы на вопросы ознакомительного теста

1. Какое наименьшее количество операций умножения достаточно для вычисления значения формулы: $x^4+x^3+x$?

    Ответ: 3

2. Укажите условия, при которых формулы: $a + a - a$ и $a + (a - a)$ не эквивалентны.

In [86]:
import sys

a = sys.float_info.max

v1 = a + a - a
v2 = a + (a - a)

print(v1, v2, v1 - v2, v1 == v2)

# Более того

v3 = a - 1
print(a - v3, a == v3)

inf 1.7976931348623157e+308 inf False
0.0 True

3. Напишите программу, которая разбивает последовательность чисел  на  групп так, чтобы
    * в каждую группу входило ровно  чисел,
    * каждое число входило в одну и только одну группу,
    * сумма чисел в каждой группе была одинакова.

In [30]:
from IPython.display import HTML, display
import tabulate

n = int(input("N?"))

# Вариант 1

a1 = [ [ 0 for j in range(n) ] for i in range(n) ]
for i in range(n):
    for j in range(n):
        a1[(j + i) % n][i] = 1 + j + i * n

display(HTML(tabulate.tabulate(a1, tablefmt='html')))

# Вариант 2

a2 = [ [ 1 + i * n + (j - i) % n for i in range(n)] for j in range(n)]

display(HTML(tabulate.tabulate(a2, tablefmt='html')))

N? 7

4. Заданы две строки: $S$ и $P$. Напишите программу, которая ищет количество вхождений $P$ в $S$ как подстроки.

    Для этой задачи, честно скажу, Питон не самый удачный язык. Напишем Рабина-Карпа вместе?

5. Числа Фибоначчи определяются следующим образом: $F_k = F_{k-1} + F_{k-2}$, для $k > 2$, а $F_1 = F_2 = 1$. Напишите программу, которая по заданному $k$ печатает $F_k$.

In [2]:
# Вариант 1

def fib_1(n):
    if n == 1 or n == 2:
        return 1
    f = 1
    fp = 1
    for i in range(n-2):
        f, fp = f + fp, f
    return f

for n in range(1, 10):
    print(n, fib_1(n))

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

In [38]:
# Вариант 2

import functools

@functools.lru_cache()
def fib_2(n):
    if n == 1 or n == 2:
        return 1
    else:
        return fib_2(n-1) + fib_2(n-2)

for n in range(1, 10):
    print(n, fib_2(n))

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34

6. Заданы два числа $2 \le R_s \le 16$ и $2 \le R_t \le 16$ — основания двух систем счисления и строка $S_s$, представляющая число в первой системе счисления. Напишите программу, выводящую строку $S_t$ — то же число во второй системе счисления.

In [44]:
def c2int(c):
    c = c.lower()
    if '0' <= c <= '9':
        return ord(c) - ord('0')
    elif 'a' <= c <= 'z':
        return 10 + ord(c) - ord('a')

def int2c(v):
    return "0123456789abcdefghijklmnopqrstuvwxyz"[v]
    
def s2int(string, base):
    r = 0
    for c in string:
        r *= base
        r += c2int(c)
    return r

def int2s(value, base):
    r = ""
    while value > 0:
        d = value % base
        r = int2c(d) + r
        value = (value - d) // base
    return r

def cvt(string, src, dst):
    return int2s(s2int(string, src), dst)

print(cvt("ff", 16, 10))
print(cvt("256", 10, 16))

255
100

7. И.А. Хлестакова приглашали управлять департаментом. В первый день к нему прислали 1000 курьеров, а в каждый последующий в два раза больше, чем предыдущий. Иван Александро-вич согласился только тогда, когда к нему сразу прибыло не менее 30000 курьеров. На какой день это произошло? В программе нельзя использовать операции умножения и деления.

In [45]:
# Вариант 1

day = 1
couriers = 1000

while couriers < 30000:
    couriers += couriers
    day += 1

print(day)

6

In [48]:
# Вариант 2

import math

print(math.ceil(math.log(30000 / 1000, 2)) + 1)

6